@using (Html.BeginForm("Search", "home", FormMethod.Get, new { @class = "navbar-search pull-left" }))

 {
    <input type="text" name="q" placeholder="Arama" class="search-query span2">
    <button type="submit">Ara</button>
 }


